.mentions-lgales-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.mentions-lgales-hero-banner {
  width: 100%;
  height: auto;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 30vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113deg, rgba(255, 76, 92, 0.8) 7.00%,rgba(0, 29, 246, 0.8) 98.00%),url("/playground_assets/illustration%20%2B%20details_full-1500h.png");
}
.mentions-lgales-text {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
}
.mentions-lgales-partners {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-right: 0px;
  justify-content: center;
}
.mentions-lgales-container1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-unit);
}
.mentions-lgales-image {
  width: auto;
  height: 100px;
  align-self: center;
  margin-top: 0px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  margin-right: var(--dl-space-space-unit);
}
.mentions-lgales-image1 {
  width: auto;
  height: 50px;
  margin-top: 0px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  margin-right: var(--dl-space-space-unit);
}
.mentions-lgales-image2 {
  width: auto;
  height: 80px;
  margin-top: 0px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  margin-right: var(--dl-space-space-unit);
}
.mentions-lgales-image3 {
  width: 600px;
  height: 110px;
  object-fit: cover;
  object-position: center;
}
.mentions-lgales-legal-mentions {
  flex: 0 0 auto;
  width: 80vw;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.mentions-lgales-heading {
  width: auto;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.mentions-lgales-text01 {
  width: auto;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.mentions-lgales-heading1 {
  width: auto;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.mentions-lgales-text07 {
  width: auto;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.mentions-lgales-heading2 {
  width: auto;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.mentions-lgales-text15 {
  width: auto;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.mentions-lgales-nav-back {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mentions-lgales-navlink {
  color: var(--dl-color-gray-white);
  width: auto;
  margin: var(--dl-space-space-tripleunit);
  align-self: center;
  margin-top: 10px;
  transition: 0.3s;
  margin-left: 10px;
  padding-top: 12px;
  border-width: 0px;
  margin-right: 10px;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius6);
  margin-bottom: 10px;
  padding-right: 32px;
  padding-bottom: 12px;
  text-decoration: none;
  background-color: #103bea;
}
.mentions-lgales-navlink:hover {
  background-color: #0989ea;
}
.mentions-lgales-footer {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.mentions-lgales-container2 {
  width: 80vw;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.mentions-lgales-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
}
.mentions-lgales-image4 {
  width: 515px;
  height: 83px;
  object-fit: cover;
}
.mentions-lgales-divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: var(--dl-color-gray-white);
}
.mentions-lgales-container4 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mentions-lgales-text16 {
  color: #060606;
  margin-top: var(--dl-space-space-unit);
}
.mentions-lgales-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.mentions-lgales-image5 {
  width: 144px;
  height: 75px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .mentions-lgales-text {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .mentions-lgales-partners {
    width: auto;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .mentions-lgales-container1 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .mentions-lgales-image {
    margin-right: var(--dl-space-space-unit);
  }
  .mentions-lgales-image1 {
    margin-right: var(--dl-space-space-unit);
  }
  .mentions-lgales-image2 {
    margin-right: var(--dl-space-space-unit);
  }
  .mentions-lgales-image3 {
    width: 100%;
    margin-left: var(--dl-space-space-doubleunit);
  }
  .mentions-lgales-navlink {
    color: var(--dl-color-gray-white);
    margin: var(--dl-space-space-tripleunit);
    text-decoration: none;
    background-color: rgb(16, 59, 234);
  }
  .mentions-lgales-container2 {
    width: 100%;
    height: auto;
    max-width: auto;
  }
}
@media(max-width: 1200px) {
  .mentions-lgales-partners {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .mentions-lgales-container1 {
    margin-right: 0px;
  }
  .mentions-lgales-image3 {
    width: 50%;
    height: auto;
    margin-left: 0px;
  }
  .mentions-lgales-navlink {
    align-self: center;
    text-align: center;
  }
}
@media(max-width: 991px) {
  .mentions-lgales-hero-banner {
    flex-direction: column;
  }
  .mentions-lgales-text {
    text-align: center;
  }
  .mentions-lgales-partners {
    align-items: center;
    flex-direction: column;
  }
  .mentions-lgales-container1 {
    justify-content: space-between;
  }
  .mentions-lgales-image3 {
    margin-left: 0px;
  }
  .mentions-lgales-legal-mentions {
    margin: var(--dl-space-space-unit);
  }
  .mentions-lgales-text01 {
    margin: var(--dl-space-space-unit);
  }
  .mentions-lgales-text07 {
    margin: var(--dl-space-space-unit);
  }
  .mentions-lgales-heading2 {
    margin: var(--dl-space-space-unit);
  }
  .mentions-lgales-text15 {
    margin: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .mentions-lgales-hero-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .mentions-lgales-image {
    margin: var(--dl-space-space-unit);
  }
  .mentions-lgales-container3 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mentions-lgales-container4 {
    flex-direction: column;
  }
  .mentions-lgales-text16 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .mentions-lgales-hero-banner {
    width: 100%;
    padding: 32px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .mentions-lgales-container1 {
    width: 425px;
    flex-wrap: wrap;
    margin-left: 0px;
    justify-content: center;
  }
  .mentions-lgales-image {
    width: auto;
    height: mixed;
  }
  .mentions-lgales-image1 {
    width: auto;
    height: mixed;
  }
  .mentions-lgales-image2 {
    width: auto;
    height: mixed;
  }
  .mentions-lgales-image3 {
    width: 80%;
    height: 80%;
    margin-left: 0px;
  }
  .mentions-lgales-navlink {
    width: auto;
    align-self: center;
  }
  .mentions-lgales-image4 {
    width: 100%;
    height: auto;
  }
}
